* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none !important;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}
.title{
    text-align: center;
}
.title h2{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
}
/* ===============================
        Nav Part Start
================================== */
nav{
    padding: 0 !important;
    position: fixed !important;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.menufix{
    background: #000;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
nav ul li a{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff !important;
    padding-top: 40px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 10px;
    transition: all linear .3s !important;
    -webkit-transition: all linear .3s !important;
    -moz-transition: all linear .3s !important;
    -ms-transition: all linear .3s !important;
    -o-transition: all linear .3s !important;
    position: relative;
}
nav ul li a:hover{
    color: #ed5034 !important;
    background: #fff;
}
nav ul li a::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #ed5034;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
nav ul li a:hover::before{
    width: 100%;
}
nav ul li a.active{
    color: #ed5034 !important;
    background: #fff;
}
nav ul li a.active::before{
    width: 100%;
}
.menufix ul li a.active{
    color: #fff !important;
    background: transparent;
}
.menufix ul li a.active:hover{
    color: #ed5034 !important;
    background: #fff;
}
.menufix ul li a.active::before{
    width: 0;
}
.menufix ul li a.active:hover::before{
    width: 100%;
}
/* ===============================
        Nav Part End
================================== */
/* ===============================
        Banner Part Start
================================== */
#banner-part{
    position: relative;
}
#banner-part .banner{
    background: url(../images/banner1.png) no-repeat center;
    background-size: cover;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#banner-part .banner-second{
    background: url(../images/banner2.png) no-repeat center;
    background-size: cover;
}
#banner-part .banner-third{
    background: url(../images/banner3.png) no-repeat center;
    background-size: cover;
}
#banner-part .banner-shape{
    background: url(../images/banner-shape.png) no-repeat  center;
    background-size: cover;
}
#banner-part .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-top: 230px;
    padding-bottom: 280px;
    position: relative;
}
#banner-part .overlay h3{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #fff;
    margin-bottom: 60px;
}
#banner-part .overlay h1{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    width: 454px;
    margin: 0 auto;
}
#banner-part .overlay h4{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #fff;
    margin-top: 30px;
    display: inline-block;
    position: relative;
}
#banner-part .overlay h4::before{
    position: absolute;
    content: '';
    top: 50%;
    left: -25px;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    width: 100px;
    height: 2px;
    background: #ed5034;
}
#banner-part .overlay h4::after{
    position: absolute;
    content: '';
    top: 50%;
    right: -25px;
    transform: translate(100%, -50%);
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    -o-transform: translate(100%, -50%);
    width: 100px;
    height: 2px;
    background: #ed5034;
}
#banner-part .prev{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    color: #fff;
    width: 70px;
    height: 70px;
    font-size: 28px;
    text-align: center;
    line-height: 70px;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#banner-part .prev:hover{
    background: #fff;
    color: #ed5034;
}
#banner-part .next{
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    color: #fff;
    width: 70px;
    height: 70px;
    font-size: 28px;
    text-align: center;
    line-height: 70px;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
}
#banner-part .next:hover{
    background: #fff;
    color: #ed5034;
}
/* ===============================
        About banner Part Start
================================== */
#about #banner-part .overlay{
    padding-top: 180px;
    padding-bottom: 150px;
}
#about #banner-part .overlay p{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #fff;
}
/* ===============================
        About banner Part End
================================== */
/* ===============================
        Gallery banner Part Start
================================== */
#gallery #banner-part .overlay{
    padding-top: 180px;
    padding-bottom: 150px;
}
#gallery #banner-part .overlay p{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #fff;
}
/* ===============================
        Gallery banner Part End
================================== */
/* ===============================
        Contact banner Part Start
================================== */
#contact-page #banner-part .fourth-banner{
    background: url(../images/banner4.png) no-repeat center;
    background-size: cover;
}
#contact-page #banner-part .overlay{
    padding-top: 180px;
    padding-bottom: 60px;
}
#contact-page #banner-part .overlay h1{
    font-size: 42px;
    width: auto;
}
#contact-page #banner-part .overlay .brand{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #fff;
    margin-top: 25px;
    position: relative;
}
#contact-page #banner-part .overlay .brand::before{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 50%;
    width: 50px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#contact-page #banner-part .overlay .button{
    margin-top: 60px;
}
#contact-page #banner-part .overlay .button a{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #ed5034;
    padding: 20px 30px;
    background: url(../images/button-bg.png) no-repeat center;
    background-size: cover;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border: 1px solid #2e3132;
}
#contact-page #banner-part .overlay .counter-up{
    width: 575px;
    margin: 0 auto; 
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}
#contact-page #banner-part .overlay .counter-up .counter-items p{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
}
#contact-page #banner-part .overlay .counter-up .counter-items .time{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 27px;

}
/* ===============================
        Contact banner Part End
================================== */
/* ===============================
        Banner Part End
================================== */


/* ===============================
        Story Part Start
================================== */
#story-part {
    padding: 100px 0;
    position: relative;
    background: url(../images/story-bg.png) no-repeat center;
    background-size: cover;
}
#story-part .img{
    position: relative;
    z-index: 2;
}
#story-part .img img{
    width: 100%;
}
#story-part .img .img-shape {
    position: absolute;
    bottom: 37px;
    left: 15px;
    transform: translateX(-60%);
    -webkit-transform: translateX(-60%);
    -moz-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    -o-transform: translateX(-60%);
    width: 70%;
    z-index: -1;
}
#story-part .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#story-part .img-overlay .icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #FFF;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    line-height: 100px;
    position: relative;
}
#story-part .img-overlay .icon i{
      color: #ed5034;
      font-size: 18px;

  }
  
  #story-part .img-overlay .icon:after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-shadow: inset 0 0 0 1px #FFF;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(1.3);
    opacity: 0.8;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  } 
#story-part .img-overlay .pulsing:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-shadow: inset 0 0 0 3px #FFF;
    transition: transform 0.2s, opacity 0.2s;
    animation: pulsing 2.7s infinite;
}
  
  @keyframes pulsing {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
}

#story-part .text{
    padding-top: 60px;
    position: relative;
    z-index: 2;
}
#story-part .text h2{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    margin-bottom: 60px;
    position: relative;
}
#story-part .text h2::before{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100px;
    height: 3px;
    background: #ed5034;
}
#story-part .text h2::after{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 107px;
    width: 10px;
    height: 3px;
    background: #ed5034;
}
#story-part .text p{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-top: 40px;
}
#story-part .text  .button a{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #ed5034;
    padding: 20px 30px;
    background: url(../images/button-bg.png) no-repeat center;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border: 1px solid #2e3132;
    box-shadow: 0px 10px 100px 0px rgb(255 255 255 / 15%);
    margin-top: 60px;
}
#story-part .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
}


/* ===============================
    Home02page Story Part Start
================================== */
#home #story-part .img .img-shape {
    bottom: 60px;
    left: 28px;
    z-index: 1;
}
#home #happy-hour .happy-overlay{
    bottom: -190px;
}
/* ===============================
    Home02page Story Part End
================================== */
/* ===============================
    Aboutpage Story Part Start
================================== */
#about #story-part{
    padding-bottom: 0;
}
#about #story-part .story-item{
    display: flex;
    margin-top: 40px;
}
#about #story-part .story-item .img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
    position: relative;
}
#about #story-part .story-item .img img{
    width: 100%;
}
#about #story-part .story-item .img .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#about #story-part .story-item .img:hover .img-overlay{
    opacity: 1;
}
#about #story-part .story-item .img .img-overlay .icon{
    width: 55px;
    height: 55px;
    line-height: 55px;
}
#about #story-part .story-item .img .img-overlay .icon i{
    font-size: 16px;
}
#about #story-part .counter-part{
    background: url(../images/counterUp-bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    margin-top: 60px;
}
#about #story-part .counter-part .counter-item{
    text-align: center;
}
#about #story-part .counter-part .counter-item .value{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    display: inline-block;
}
#about #story-part .counter-part .counter-item .rate{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    display: inline-block;
}

#about #story-part .counter-part .counter-item p{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}
/* ===============================
    Aboutpage Story Part End
================================== */
/* ===============================
        Story Part End
================================== */


/* ===============================
        Happy hour Part Start
================================== */
#happy-hour{
    background: url(../images/happy-bg.png) no-repeat center;
    background-size: cover;
    padding: 60px  0;
    position: relative;
    z-index: 1;
}
#happy-hour .counter-up{
    width: 340px;
    margin-left: auto;
    margin-right: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}
#happy-hour .counter-up .counter-items{
    background: url(../images/counter-bg.png) no-repeat center;
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 1px solid #2e3132;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 10px 100px 0px rgb(255 255 255 / 15%);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#happy-hour .counter-up .counter-items .text{
    text-align: center;
}
#happy-hour .counter-up .counter-items .text p{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
    margin: -10px 0;
}
#happy-hour .counter-up .counter-items .text h3{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
#happy-hour .counter-up .happy{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#happy-hour .details {
    margin-top: 110px;
    padding-left: 80px;
    border-left: 1px solid #2e3132;
}
#happy-hour .details .schedule{
    position: relative;
    margin-bottom: 60px;
}
#happy-hour .details .schedule::before{
    position: absolute;
    content: '';
    bottom: -30px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #ed5034;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#happy-hour .details .schedule::after{
    position: absolute;
    content: '';
    bottom: -30px;
    left: 57px;
    width: 10px;
    height: 3px;
    background: #ed5034;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#happy-hour .details .schedule:last-child::before{
    display: none;
}
#happy-hour .details .schedule:last-child::after{
    display: none;
}
#happy-hour .details .schedule .day{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #fff;
}
#happy-hour .details .schedule .time{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}
#happy-hour .happy-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
}
/* ===============================
        Happy hour Part End
================================== */
/* ===============================
        Team Part Start
================================== */
#team-part{
    background: url(../images/team-bg.png) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
#team-part .title{
    position: relative;
    z-index: 1;
}
#team-part .team-slider{
    margin-top: -170px;
}
#team-part .member{
    text-align: center;
    margin: 0 15px;
    margin-top: 240px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    position: relative;
    z-index: 1;
}
#team-part .member .img img{
    width: 100%;
}
#team-part .member h3{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
#team-part .member h4{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}
#team-part ul{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#team-part ul li{
    display: inline-block;
    margin-right: 10px;
}
#team-part  ul li button{
    font-size: 0;
    border: 0;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#team-part  .slick-active button{
    background: #ed5034;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#team-part .member .overlay{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-42%);
    -webkit-transform: translateX(-42%);
    -moz-transform: translateX(-42%);
    -ms-transform: translateX(-42%);
    -o-transform: translateX(-42%);
    opacity: 0;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#team-part .member:hover .overlay{
    opacity: 1;
}
/* ===============================
        Team Part End
================================== */


/* ===============================
        Gallery Part Start
================================== */
#gallery-part{
    background: url(../images/gallery-bg.png) no-repeat center;
    background-size: cover;
    padding-top: 60px;
}
#gallery-part .item{
    margin: 0 15px;
    margin-top: 40px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    position: relative;
}
#gallery-part .item img{
    width: 100%;
}
#gallery-part .item .overlay{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    z-index: 1;
}
#gallery-part .item:hover .overlay{
    opacity: 1;
}
#gallery-part .item .overlay i{
    font-size: 40px;
    color: #fff;
}
#gallery-part .button{
    text-align: center;
}
#gallery-part .button a {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #ed5034;
    padding: 20px 45px;
    background: url(../images/button-bg.png) no-repeat center;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border: 1px solid #2e3132;
    box-shadow: 0px 10px 100px 0px rgb(255 255 255 / 15%);
    margin-top: 60px;
}
#gallery-part .item .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#gallery-part .item:hover .img-overlay{
    opacity: 0;
}
/* ==================================
       Gallerypage gallery Part start
====================================== */
#gallery #gallery-part .gallery-element{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#gallery #gallery-part .item{
    width: 20%;
    padding: 0 15px;
    margin: 15px 0;
}
#gallery #gallery-part .item .overlay{
    right: 25px;
}
/* =================================
       Gallerypage gallery Part End
==================================== */
/* ===============================
        Gallery Part End
================================== */


/* ===============================
        Reservation Part Start
================================== */
#resev-part{
    background: url(../images/reservaiton-bg.png) no-repeat center;
    background-size: cover;
    padding: 100px 0;

}
#resev-part .img{
    position: relative;
    z-index: 1;
}
#resev-part .img img{
    width: 100%;
}
#resev-part .img .img-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 190%;
    transform: translate(-50%,-40%);
    z-index: -1;
    -webkit-transform: translate(-50%,-40%);
    -moz-transform: translate(-50%,-40%);
    -ms-transform: translate(-50%,-40%);
    -o-transform: translate(-50%,-40%);
    opacity: .8;
}
#resev-part h2{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    margin-bottom: 50px;
    position: relative;
}
#resev-part h2::before{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 160px;
    height: 3px;
    background: #ed5034;

}
#resev-part h2::after{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 165px;
    width: 10px;
    height: 3px;
    background: #ed5034;

}
#resev-part form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
#resev-part form input{
    width: 49%;
    background: transparent;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border: 1px solid #2e3132;
    margin-bottom: 15px;
    padding: 18px 20px;
}
#resev-part form input::placeholder{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
#resev-part form input:focus-visible{
    outline: #2e3132;
}
#resev-part form select{
    width: 32%;
    background: transparent;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border: 1px solid #2e3132;
    margin-bottom: 15px;
    padding: 18px 20px;
}

#resev-part form select option{
    background: #fff;
    color: #2e3132;
}
#resev-part form select option:focus-visible{
    outline: #2e3132;
}
#resev-part textarea{
    width: 100%;
    height: 200px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border: 1px solid #2e3132;
    resize: none;
    background: transparent;
    padding: 18px 20px;
}
#resev-part textarea::placeholder{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
#resev-part textarea:focus-visible{
    outline: transparent;
}
#resev-part button{
    width: 100%;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #ed5034;
    margin-top: 30px;
    padding: 20px 0;
    background: url(../images/button-bg.png) no-repeat center;
    background-size: cover;
    border: 1px solid #2e3132;
}
/* ===============================
        Reservation Part End
================================== */
/* ===============================
        Testimonial Part Start
================================== */
#testi-part{
    background: #050505;
    padding: 60px 0;
}
#testi-part .testi-slider{
    width: 770px;
    margin: 0 auto;
    margin-top: 40px;
    background: #0a0b0c;
}
#testi-part .item{
    display: flex;
}
#testi-part .item .text{
  padding: 0px 30px;
  padding-top: 40px;

}
#testi-part .item .text p{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}
#testi-part .item .text h3{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
}
#testi-part .item .text h4{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}
#testi-part .item .text .icon i{
    font-size: 20px;
    color: #ed5034;
}
#testi-part .prev{
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    color: #ed5034;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#testi-part .prev:hover{
    color: #fff;
    background: #ed5034;
}
#testi-part .next{
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    color: #ed5034;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#testi-part .next:hover{
    color: #fff;
    background: #ed5034;
}
/* ===============================
        Testimonial Part End
================================== */
/* ===============================
        Back to top button Start
================================== */
.backtotop{
    padding: 20px;
    font-size: 20px;
    background: #000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border: 0;
}
.backtotop i{
    color: #fff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.backtotop:hover{
    background: #fff;
}
.backtotop:hover i{
    color: #ed5034;

}
/* ===============================
        Back to top button End
================================== */
/* ===============================
        Footer Part Start
================================== */
footer{
    background: url(../images/footer-bg.png) no-repeat center;
    background-size: cover;
    padding-top: 100px;
}
footer .item{
    text-align: center;
}
footer .item h3{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    margin-bottom: 40px;
    position: relative;
}
footer .item h3::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 3px;
    background: #ed5034;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
footer .item p{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
footer .social{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}
footer .social .icon{
    position: relative;

}
footer .social .icon::before{
    position: absolute;
    content: '';
    top: 50%;
    left: -30px;
    width: 385px;
    height: 1px;
    background: #2e3132;
    transform: translate(-100%,-50%);
    -webkit-transform: translate(-100%,-50%);
    -moz-transform: translate(-100%,-50%);
    -ms-transform: translate(-100%,-50%);
    -o-transform: translate(-100%,-50%);
}
footer .social .icon::after{
    position: absolute;
    content: '';
    top: 50%;
    right: -30px;
    width: 385px;
    height: 1px;
    background: #2e3132;
    transform: translate(100%,-50%);
    -webkit-transform: translate(100%,-50%);
    -moz-transform: translate(100%,-50%);
    -ms-transform: translate(100%,-50%);
    -o-transform: translate(100%,-50%);
}
footer .social .icon{
    display: inline-block;
}
footer .social .icon a i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #ed5034;
    font-size: 20px;
    background: #fff;
    text-align: center;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
footer .social .icon a i:last-child{
    margin-right: 0;
}
footer .social .icon a i:hover{
    color: #fff;
    background: #ed5034;
}
footer .bottom {
    text-align: center;
}
footer .bottom p{
   font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
footer .bottom i{
    font-size: 20px;
}
/* ===============================
        About footer Part Start
================================== */
#about footer{
    padding-top: 60px;
}
/* ===============================
        About footer Part End
================================== */
/* ===============================
        Gallery footer Part Start
================================== */
#gallery footer{
   margin-top: -15px;
}
/* ===============================
        Gallery footer Part End
================================== */
/* ===============================
        Footer Part End
================================== */
